{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "jest", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "curly": ["error", "all"],
    "brace-style": ["error", "1tbs"],
    "prettier/prettier": "error",
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "react/prop-types": 0,
    "react/no-unknown-property": [
      2,
      {
        "ignore": ["class"]
      }
    ]
  }
}
